.ivu-page-item {
  min-width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 18px;
}
.ivu-page-item-active a {
  color: #fff;
}
.ivu-page-item-active {
  background-color: #158A7E;
  color: #fff;
}
.ivu-page-item-active a,
.ivu-page-item-active:hover a {
  color: #fff;
}
.ivu-page-prev,
.ivu-page-next,
.ivu-page-item-jump-prev,
.ivu-page-item-jump-next {
  min-width: 40px;
  height: 40px;
  line-height: 38px;
  background-color: #fff;
}
.ivu-spin-fix {
  background: #fff;
  opacity: 0.2;
}
.ivu-page {
  display: inline-block;
}
.ivu-form .ivu-form-item-label {
  color: #666;
  font-size: 14px;
}
.ivu-form .ivu-form-item-label {
  padding-right: 18px;
}
.ivu-form .ivu-form-item {
  margin-bottom: 20px;
}
.ivu-form .ivu-form-item-error {
  margin-bottom: 30px;
}
.login-md .ivu-form .ivu-form-item {
  margin-bottom: 14px;
}
.login-md .ivu-form .ivu-form-item-error {
  margin-bottom: 25px;
}
.login-md .ivu-btn {
  min-width: 110px;
}
.ivu-form-hide-required-mark .ivu-form-item-label:before {
  content: '';
}
.ivu-input {
  padding: 6px 10px;
}
.ivu-input[disabled],
fieldset[disabled] .ivu-input {
  color: #999;
}
.ivu-btn {
  padding: 6px 15px;
  line-height: 1.6;
  border-radius: 6px;
  min-width: 120px;
}
.ivu-btn.ivu-btn-warning {
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
}
.ivu-btn.border-primary {
  border-color: #158A7E;
}
.ivu-radio {
  margin-right: 5px;
}
.ivu-radio-checked .ivu-radio-inner {
  border-color: #F36A1C;
  border-width: 4px;
}
.ivu-radio-checked .ivu-radio-inner::after {
  opacity: 0;
}
.ivu-radio-checked .ivu-radio-inner:hover {
  border-color: #F36A1C;
}
.ivu-radio-checked .ivu-radio-focus {
  box-shadow: none;
}
.ivu-radio-checked:hover .ivu-radio-inner {
  border-color: #F36A1C;
}
.ivu-radio-large .ivu-radio-inner {
  width: 20px;
  height: 20px;
}
.ivu-checkbox-large .ivu-checkbox-inner {
  width: 20px;
  height: 20px;
}
.ivu-checkbox {
  margin-right: 5px;
  transition: none;
}
.ivu-checkbox .ivu-checkbox-inner {
  transition: none;
}
.ivu-checkbox .ivu-checkbox-inner::after {
  transition: none;
}
.ivu-checkbox .ivu-checkbox-inner:hover {
  border-color: #F36A1C;
}
.ivu-checkbox .ivu-checkbox-focus {
  box-shadow: none;
  border-color: #F36A1C;
}
.ivu-checkbox-checked .ivu-checkbox-inner {
  border: none;
  border-color: #F36A1C;
  background: linear-gradient(180deg, #FF881A 0%, #F36A1C 100%);
  transition: none;
}
.ivu-checkbox-checked .ivu-checkbox-inner::after {
  transition: none !important;
  top: 5px;
  left: 6px !important;
}
.ivu-checkbox-checked:hover {
  border-color: #F36A1C;
}
.ivu-checkbox-checked .ivu-checkbox-focus {
  box-shadow: none;
  border-color: #F36A1C;
}
.ivu-modal-header {
  border-bottom: none;
  padding-top: 30px;
}
.ivu-modal-header p,
.ivu-modal-header-inner {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.ivu-modal-footer {
  padding-bottom: 30px;
  border-top: none;
  text-align: center;
}
.ivu-message .ivu-icon {
  font-size: 20px;
}
