.size48 {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
.size50 {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-search {
  background: url('../assets/icon/icon-search.svg');
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.icon-user {
  background: url('../assets/icon/icon-user.svg');
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.icon-edit {
  background: url('../assets/icon/icon-edit.svg') no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-size: 16px 14px;
}
.icon-eye {
  background: url('../assets/icon/icon-eye.svg');
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.icon-like {
  background: url('../assets/icon/icon-like.svg');
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.icon-like-24 {
  background: url('../assets/icon/icon-like-24.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-comment {
  background: url('../assets/icon/icon-comment.svg');
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}
.icon-decorate {
  background: url('../assets/icon/icon-decorate.svg');
  width: 39px;
  height: 34px;
  background-size: contain;
}
.icon-decorate-brand {
  background: url('../assets/icon/icon-decorate-brand.svg');
  width: 39px;
  height: 34px;
  background-size: contain;
}
.icon-user-account {
  background: url('../assets/icon/icon-user-account.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-activity {
  background: url('../assets/icon/icon-user-activity.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-house {
  background: url('../assets/icon/icon-user-house.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-volunteer {
  background: url('../assets/icon/icon-user-volunteer.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-integral {
  background: url('../assets/icon/icon-user-integral.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-comment {
  background: url('../assets/icon/icon-user-comment.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-view {
  background: url('../assets/icon/icon-user-view.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-message {
  background: url('../assets/icon/icon-user-message.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-feedback {
  background: url('../assets/icon/icon-user-feedback.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-survey {
  background: url('../assets/icon/icon-user-survey.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-user-logout {
  background: url('../assets/icon/icon-user-logout.svg');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.icon-wx {
  background: url('../assets/icon/icon-wx.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.icon-wb {
  background: url('../assets/icon/icon-wb.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.icon-link {
  background: url('../assets/icon/icon-link.svg');
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.icon-arrow-swiper-left,
.icon-arrow-swiper-right {
  background: url('../assets/icon/icon-arrow-swiper.svg');
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  cursor: pointer;
}
.icon-arrow-swiper-left.disabled,
.icon-arrow-swiper-right.disabled {
  opacity: 0.8;
  cursor: default;
}
.icon-arrow-swiper-right {
  transform: rotate(180deg);
}
.icon-arrow-right {
  background: url('../assets/icon/icon-arrow-right.svg');
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}
.icon-success {
  background: url('../assets/icon/icon-success.svg');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
.icon-fail {
  background: url('../assets/icon/icon-fail.svg');
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}
