@import '~view-design/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #158A7E;
.ivu-page-item{
    min-width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
}
.ivu-page-item-active a{
    color: #fff;
}
.ivu-page-item-active{
    background-color: #158A7E;
    color: #fff;
}
.ivu-page-prev, .ivu-page-next, .ivu-page-item-jump-prev, .ivu-page-item-jump-next{
    min-width: 40px;
    height: 40px;
    line-height: 38px;
}